# TI LPF3 DMA configuration options

# Copyright (c) 2025 Texas Instruments Incorporated
# Copyright (c) 2024 BayLibre, SAS
# SPDX-License-Identifier: Apache-2.0

config DMA_LPF3
	bool "TI LPF3 DMA driver"
	default y
	depends on DT_HAS_TI_LPF3_DMA_ENABLED
	help
	  DMA driver for TI LPF3 MCU family (CC23X0, CC27XX).
